<!DOCTYPE html>
<html>

<head>
  <title>Recipe Search</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
  <h1>Search for Recipes:</h1>
  <div id="root">

  </div>
  <script src="/static/bundle.js"></script>
</body>

</html>